section.about-section
  .wrapper
    .about-section__container
      .about-section__box
        .about-section__box-owner
          .about-section__inner
            img.about-section__icon(src="images/about-section-icon.svg" loading="lazy" width="225" height="225" alt="icon")
            img.about-section__image(src="images/about-section-image.jpg" loading="lazy" width="445" height="504" alt="image")
            img.about-section__star(src="images/about-section-star.svg" loading="lazy" width="57" height="57" alt="star")
          .about-section__owner
            .font-w-semi-bold-ital.font-s-32.text-up.mark-green Эльза Калиева
            .font-w-regular.font-s-24 Основательница бренда
        .about-section__history
          .about-section__history-title.font-s-40.text-up
            span.font-w-bold История 
            span.font-w-regular создания и развития дома моды
          .about-section__history-text
            .font-w-regular.font-s-18
              | Наша компания была основана 
              span.font-w-semi-bold в 2016 году 
              br.no-br
              | и зарекомендовала себя как производитель 
              br.no-br
              | качественных коллекций национальной одежды 
              br.no-br
              | и аксессуаров ручной работы. 
              span.font-w-semi-bold Наша миссия — 
              | сохранение и уважение национальных и культурных 
              br.no-br
              | традиций клиентов.
              br
              br
            .font-w-regular.font-s-18
              | За годы работы компания наладила связи 
              br.no-br
              | с поставщиками материалов из Турции, ОАЭ, Китая 
              br.no-br
              | и местными ритейлерами. При этом производство 
              br.no-br
              | находится 
              span.font-w-semi-bold в Казахстане. 
              | Мы стремимся сделать 
              br.no-br
              | узнаваемым казахстанский национальный стиль 
              br.no-br
              | и активно популяризируем его, участвуя 
              br.no-br
              | в международных показах.
              br
              br
            .font-w-regular.font-s-18
              | Открывая бизнес вместе с нами по франшизе, 
              br.no-br
              | вы получаете готовую бизнес-модель с комплексным 
              br.no-br
              | сопровождением на каждом этапе с прибылью 
              br.no-br
              span.font-w-semi-bold от 1,5 млн тенге в месяц. 
              | Мы поможем вам избежать 
              br.no-br
              | главных ошибок на старте, выберем необходимую 
              br.no-br
              | локацию, передадим список поставщиков и модели 
              br.no-br
              | готовой продукции, поделимся схемами 
              br.no-br
              | эффективного продвижения.
      .about-section__bottom
        form.about-section__form(data-feedback-form)
          .about-section__form-left
            .font-w-regular.font-s-24
              | С удовольствием 
              span.font-w-semi-bold отвечу лично 
              | на все вопросы по франшизе!
            input.input(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса…")
          .about-section__form-right
            .about-section__form-right-direction
              input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
              input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
            button.btn(type="submit") Задать вопрос