section.finances-section
  .wrapper
    .finances-section__container
      img.finances-section__image-stars(src="images/finances-section-stars.svg" loading="lazy" width="522" height="333" alt="stars")
      h2.finances-section__title.font-s-48.text-center.text-up
        span.font-w-regular Франшиза 
        span.mark-green.font-w-bold в цифрах
      .swiper-medium.finances-section__swiper
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            .mark-green.font-w-bold.font-s-32 1 месяц
            .font-w-regular.font-s-18.mark-beige точка <br> безубыточности
          .finances-section__card.swiper-slide
            .mark-green.font-w-bold.font-s-32 6 месяцев
            .font-w-regular.font-s-18.mark-beige средний <br> срок окупаемости
          .finances-section__card.swiper-slide
            .mark-green.font-w-bold.font-s-32 8 500 000 тенге
            .font-w-regular.font-s-18.mark-beige минимальный <br> размер вложений
          .finances-section__card.swiper-slide
            .mark-green.font-w-bold.font-s-32 1 500 000 тенге
            .font-w-regular.font-s-18.mark-beige размер прибыли <br> для пакета Шоу-Рум
          .finances-section__card.swiper-slide
            .mark-green.font-w-bold.font-s-32 4 000 000 тенге
            .font-w-regular.font-s-18.mark-beige размер прибыли <br> для пакета Ателье + Шоу-Рум
          img.finances-section__card-image(src="images/finances-section-card-image.jpg" loading="lazy" width="380" height="180" alt="card-image")
        .medium-pagination.swiper-progress-medium
      .finances-section__bottom
        .finances-section__arrows
          img.main-section__arrow(src="images/arrow-green.svg" loading="lazy" width="30" height="20" alt="arrow")
          img.main-section__arrow(src="images/arrow-green.svg" loading="lazy" width="30" height="20" alt="arrow")
          img.main-section__arrow(src="images/arrow-green.svg" loading="lazy" width="30" height="20" alt="arrow")
        .finances-section__info-card
          .font-w-bold.font-s-24.color-white
            | Хотите получить детальные цифры для 
            br.no-br
            | вашего города под ваш бюджет?
          .font-w-regular.font-s-30
            | Скачайте финансовую 
            br.n-br
            | модель франшизы «ELZA ART»
        form.finances-section__form(data-feedback-form)
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Получить


