header.header-thanks
  .header-thanks__container
    .header-thanks__title
      .font-w-light.font-s-16 Франшиза дома моды
    img.header-thanks__logo(src="images/logo-footer.svg" alt="icon" loading="lazy" width="250" height="95")
    .header-thanks__connection
      include ../components/phone-number.pug