header.header
  .header__container
    img.header__logo(src="images/logo-footer.svg" loading="lazy" width="375" height="142" alt="logo")
    .header__title-tablet
      .font-w-light.font-s-16 Франшиза дома моды
    .header__connection
      include ../components/phone-number.pug
    .header__title
      .font-w-light.font-s-16 Франшиза дома моды

