section.presentation-section
  .wrapper
    .presentation-section__container
      h2.presentation-section__title.font-w-regular.font-s-48.text-up.text-center
        span.font-w-bold Фотографии 
        | производства 
        br
        | и готовых моделей 
        span.font-w-bold.mark-green «ELZA ART»
      .swiper-desktop
        .presentation-section__cards.swiper-wrapper
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.png" loading="lazy" width="380" height="450" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img2.png" loading="lazy" width="380" height="450" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img3.png" loading="lazy" width="380" height="450" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img4.png" loading="lazy" width="380" height="450" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img5.png" loading="lazy" width="380" height="450" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img6.png" loading="lazy" width="380" height="450" alt="image")
        .swiper-progress-desktop.desktop-pagination
        .swiper-button
          button.button-prev(aria-label="prev")
            img(src="images/presentation-section-btn.jpg" loading="lazy" width="44" height="44" alt="prev")
          button.button-next(aria-label="next")
            img(src="images/presentation-section-btn.jpg" loading="lazy" width="44" height="44" alt="next")

