section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-regular.font-s-48.text-up
        span.font-w-bold Условия 
        | работы по 
        br
        | франшизе 
        span.font-w-bold.mark-green «ELZA ART»
      .start-section__sub-title.font-w-regular.font-s-24 Выберите подходящий формат <br> и получите его подробное описание
      .swiper-lg
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            img.start-section__oval(src="images/start-section-oval-beige.svg" loading="lazy" width="226" height="65" alt="oval")
            img.start-section__arrow(src="images/arrow-green.svg" loading="lazy" width="30" height="20" alt="arrow")
            .font-w-semi-bold.font-s-48.mark-green Шоу-рум
            .start-section__card-text.font-w-manrope-medium.font-s-20 Магазин площадью <br> от 20 до 30 м2 <br> 1- швейная машинка <br> для реставрации
            button.btn.start-item(data-remodal-target="modal-form-investments") Получить
          .start-section__card.swiper-slide
            img.start-section__oval(src="images/start-section-oval-green.svg" loading="lazy" width="226" height="65" alt="oval")
            img.start-section__arrow(src="images/arrow-beige.svg" loading="lazy" width="30" height="20" alt="arrow")
            .font-w-semi-bold.font-s-48.mark-beige-main Ателье + Шоу-рум
            .start-section__card-text.font-w-manrope-medium.font-s-20 Магазин площадью <br> от 20 до 30 м2 <br> 1- швейная машинка <br> для реставрации
            button.btn.btn--beige.start-item(data-remodal-target="modal-form-investments") Получить
        .lg-pagination.swiper-progress-lg
