section.support-section
  .wrapper
    .support-section__container
      h2.support-section__title.font-s-48.text-up
        span.font-w-regular Какие меры поддержки ждут <br>
        span.font-w-bold наших партнеров
      .support-section__box
        ul.support-section__text.font-w-regular.font-s-20
          li.support-section__text-item
            img.support-section__arrow(src="images/arrow-green.svg" loading="lazy" width="23" height="16" alt="arrow")
            | Полное обучение собственника стандартам 
            br.no-br
            | ведения бизнеса
          li.support-section__text-item
            img.support-section__arrow(src="images/arrow-green.svg" loading="lazy" width="23" height="16" alt="arrow")
            | Полное обучение сотрудников 
            br.no-br
            | производственному и технологическому 
            br.no-br
            | процессу по стандартным лекалам
          li.support-section__text-item
            img.support-section__arrow(src="images/arrow-green.svg" loading="lazy" width="23" height="16" alt="arrow")
            | Полное обучение продажам 
            br.no-br
            | (ассортиментная матрица, индивидуальный 
            br.no-br
            | пошив с использованием итальянских тканей 
            br.no-br
            | и фурнитуры)
          li.support-section__text-item
            img.support-section__arrow(src="images/arrow-green.svg" loading="lazy" width="23" height="16" alt="arrow")
            | Аттестация после обучения
          li.support-section__text-item
            img.support-section__arrow(src="images/arrow-green.svg" loading="lazy" width="23" height="16" alt="arrow")
            | Контакты проверенных поставщиков 
            br.no-br
            | оборудования и материалов
          li.support-section__text-item
            img.support-section__arrow(src="images/arrow-green.svg" loading="lazy" width="23" height="16" alt="arrow")
            | Рекомендации по ценообразованию
          li.support-section__text-item
            img.support-section__arrow(src="images/arrow-green.svg" loading="lazy" width="23" height="16" alt="arrow")
            | Возможность выезда на закупку материалов 
            br.no-br
            | с собственником бизнеса
          li.support-section__text-item
            img.support-section__arrow(src="images/arrow-green.svg" loading="lazy" width="23" height="16" alt="arrow")
            | Передача готовой документации по ведению 
            br.no-br
            | бизнеса: франчбука, регламентов, 
            br.no-br
            | стандартов, скриптов и инструкций, 
            br.no-br
            | необходимых для выстраивания системы 
            br.no-br
            | управления бизнесом и помощь с их 
            br.no-br
            | внедрением в работу
        .support-section__images
          img.support-section__icon(src="images/about-section-icon.svg" loading="lazy" width="177" height="177" alt="icon")
          img.support-section__image(src="images/support-section-image.jpg" loading="lazy" width="522" height="519" alt="image")

