.header
  &__container
    color: $color-dark-violet
    display: flex
    flex-direction: row
    align-items: center
    justify-content center
    gap 10px
    +above($breakpoints.sm)
      gap 20px
    +above($breakpoints.lg)
      justify-content space-between
    +above($breakpoints.xxl)
      justify-content flex-end
      gap 390px


  &__title
    display: none
    +above($breakpoints.xxl)
      text-align: center
      display: block
      text-transform: uppercase
      letter-spacing 3px
      padding-right: 95px;

  &__title-tablet
    display: none
    +above($breakpoints.lg)
      text-align: center
      display: block
      text-transform: uppercase
      letter-spacing 3px
    +above($breakpoints.xxl)
      display: none

  &__logo
    width 150px
    height: auto
    +above($breakpoints.sm)
      width 200px
    +above($breakpoints.md)
      width 250px
    +above($breakpoints.xxl)
      display: none