.presentation-section

  &__container
    padding 20px 0 20px 0
    +above($breakpoints.lg)
      overflow: hidden
      padding 120px 0 46px 0

  &__title
    padding 0 0 20px 0
    +above($breakpoints.lg)
      padding 0 0 80px 0

  &__card
    width 300px !important
    +above($breakpoints.sm)
      width 380px !important

  &__img
    width 300px
    height: auto
    border-radius: 20px
    +above($breakpoints.sm)
      width 380px
      height: 450px



